<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Portfólio de imagens</title>
</head>

<body>
    <div class="main">

        <h1>MYBLOG.COM</h1>
        <hr>

        <h2>PORTFOLIO</h2>
        <p>CURTA ESSA NOVA FORMA DE MOSTRAR SEU TRABALHO</p>

        <div class="row">
            <div class="column">
                <div class="content">
                    <img src="./src/img/image1.jpg" alt="Mountains" style="width:100%">
                    <h3>MEU TRABALHO</h3>
                    <p>Lorem ipsum dolor sit amet, tempor prodesset eos no. Temporibus necessitatibus sea ei, at tantas
                        oporteat nam. Lorem ipsum dolor sit amet, tempor prodesset eos no.</p>
                </div>
            </div>
            <div class="column">
                <div class="content">
                    <img src="./src/img/image2.jpg" alt="Lights" style="width:100%">
                    <h3>MEU TRABALHO</h3>
                    <p>Lorem ipsum dolor sit amet, tempor prodesset eos no. Temporibus necessitatibus sea ei, at tantas
                        oporteat nam. Lorem ipsum dolor sit amet, tempor prodesset eos no.</p>
                </div>
            </div>
            <div class="column">
                <div class="content">
                    <img src="./src/img/image3.jpg" alt="Nature" style="width:100%">
                    <h3>MEU TRABALHO</h3>
                    <p>Lorem ipsum dolor sit amet, tempor prodesset eos no. Temporibus necessitatibus sea ei, at tantas
                        oporteat nam. Lorem ipsum dolor sit amet, tempor prodesset eos no.</p>
                </div>
            </div>
            <div class="column">
                <div class="content">
                    <img src="./src/img/image5.jpg" alt="Mountains" style="width:100%">
                    <h3>MEU TRABALHO</h3>
                    <p>Lorem ipsum dolor sit amet, tempor prodesset eos no. Temporibus necessitatibus sea ei, at tantas
                        oporteat nam. Lorem ipsum dolor sit amet, tempor prodesset eos no.</p>
                </div>
            </div>
        </div>

        <div class="content">
            <img src="./src/img/image4.jpg" alt="Bear" style="width:100%">
            <h3>OUTROS TRABALHOS</h3>
            <p>Lorem ipsum dolor sit amet, tempor prodesset eos no. Temporibus necessitatibus sea ei, at tantas oporteat
                nam. Lorem ipsum dolor sit amet, tempor prodesset eos no.</p>
            <p>Lorem ipsum dolor sit amet, tempor prodesset eos no. Temporibus necessitatibus sea ei, at tantas oporteat
                nam. Lorem ipsum dolor sit amet, tempor prodesset eos no.</p>
        </div>

    </div>
</body>

</html>