* {
    box-sizing: border-box;
  }
  
  body {
    background-color: #f1f1f1;
    padding: 20px;
    font-family: Arial;
  }

  .main {
    max-width: 1000px;
    margin: auto;
  }
  
  h1 {
    font-size: 50px;
    word-break: break-all;
  }
  
  .row {
    margin: 8px -16px;
  }
  
  
  .row,
  .row > .column {
    padding: 8px;
  }
  
  .column {
    float: left;
    width: 25%;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .content {
    background-color: white;
    padding: 10px;
  }
  
  @media screen and (max-width: 900px) {
    .column {
      width: 50%;
    }
  }
  
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }