<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="./src/assets/images/logo-lagum.png" type="image/x-icon">
  <link rel="stylesheet" href="./src/style/styles.css">
  <title>Filter</title>
</head>

<body>

  <h2>Filtro</h2>
  <div id="myBtnContainer">
    <button class="btn active" onclick="filterSelection('all')"> Mostrar tudo</button>
    <button class="btn" onclick="filterSelection('nature')"> Natureza</button>
    <button class="btn" onclick="filterSelection('cars')"> Carros</button>
    <button class="btn" onclick="filterSelection('people')"> Pessoas</button>
  </div>

  <!-- Portfolio Gallery Grid -->
  <div class="row">
    <div class="column nature">
      <div class="content">
        <img src="./src/assets/images/mountains.jpg" alt="Mountains" style="width:100%">
        <h4>Mountains</h4>
        <p>Lorem ipsum dolor..</p>
      </div>
    </div>
    <div class="column nature">
      <div class="content">
        <img src="./src/assets/images/lights.jpg" alt="Lights" style="width:100%">
        <h4>Lights</h4>
        <p>Lorem ipsum dolor..</p>
      </div>
    </div>
    <div class="column nature">
      <div class="content">
        <img src="./src/assets/images/nature.jpg" alt="Nature" style="width:100%">
        <h4>Forest</h4>
        <p>Lorem ipsum dolor..</p>
      </div>
    </div>

    <div class="column cars">
      <div class="content">
        <img src="./src/assets/images/cars1.jpg" alt="Car" style="width:100%">
        <h4>Retro</h4>
        <p>Lorem ipsum dolor..</p>
      </div>
    </div>
    <div class="column cars">
      <div class="content">
        <img src="./src/assets/images/cars2.jpg" alt="Car" style="width:100%">
        <h4>Fast</h4>
        <p>Lorem ipsum dolor..</p>
      </div>
    </div>
    <div class="column cars">
      <div class="content">
        <img src="./src/assets/images/cars3.jpg" alt="Car" style="width:100%">
        <h4>Classic</h4>
        <p>Lorem ipsum dolor..</p>
      </div>
    </div>

    <div class="column people">
      <div class="content">
        <img src="./src/assets/images/people1.jpg" alt="People" style="width:100%">
        <h4>Girl</h4>
        <p>Lorem ipsum dolor..</p>
      </div>
    </div>
    <div class="column people">
      <div class="content">
        <img src="./src/assets/images/people2.jpg" alt="People" style="width:100%">
        <h4>Man</h4>
        <p>Lorem ipsum dolor..</p>
      </div>
    </div>
    <div class="column people">
      <div class="content">
        <img src="./src/assets/images/people3.jpg" alt="People" style="width:100%">
        <h4>Woman</h4>
        <p>Lorem ipsum dolor..</p>
      </div>
    </div>
    <!-- END GRID -->
  </div>

  <script src="./src/script/scripts.js"></script>
</body>

</html>