/* hover */

button {
    width: 310px;
    height: 65px;
    border-radius: 20px;
    border: 1px solid blue;
    background-color: transparent;
    font-size: 35px;
    color: blue;
}

/* hover usage */
button:hover {
    background-color: blue;
    color: white;
}

/* disabled */

/* disabled usage */
button:disabled {
    background-color: #a6aec1;
    color: #6c788e;
    border: none;
}

/* active */

/* active usage */
button:active {
    background-color: blue;
    color: white;
    border: 3px solid red;
}

/* focus */

/* focus usage */
button:focus {
    border: 10px solid #0c0636;
}

/* focus-visible */

/* focus-visible usage */
button:focus {
    border: 10px solid #0c0636;
}