<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Menu de Navegação - Hamburger</title>
<link rel="stylesheet" href="./styles.css">
</head>
<body>

    <header>
        <h1 class="header-title">Header</h1>
        <img src="./src/images/svg/menuHamburguer.svg" alt="menu hamburguer" class="menu-icon" onclick="handleMenu()" />
        <div id="menu">
          <nav class="header-nav">
            <a href="">Item One</a>
            <a href="">Item Two</a>
            <a href="">Item Three</a> 
            <a href="">Item Four</a>
          </nav>
        </div>
      </header>

<script src="./src/script/script.js"></script>
</body>
</html>