<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="./style.css">
    
</head>
<body>

    <div id="side-nav" class="side-nav">
        <a href="#" class="closeNavBtt" onclick="closeNav()">&times;</a>
        <a href="#">Sobre</a>
        <a href="#">Contatos</a>
        <a href="#">Produtos</a>
        <a href="#">Perfil</a>

    </div>

    <h1>Hello World!</h1>
    <p>Side Bar</p>
    <button onclick="openNav()"&#9776>open side bar</button>
        

    <script src="./script.js"></script>
</body>
</html>