<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brawl Stars</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <main>
        <section class="logo">
            <img src="./img/brawl-stars.png" alt="">
        </section>
        <section class="container">
            <article>
                <img src="./img/bea.jpeg" alt="">
                <aside class="overlay">
                    <img src="./img/bea-icon.png" alt="">
                    <p>Tiro Preciso Um disparo de longo alcance que, ao atingir, aumenta o dano seguinte.</p>
                </aside>
            </article>
            <article>
                <img src="./img/mico.jpeg" alt="">
                <aside class="overlay">
                    <img src="./img/mico-icon.png" alt="">
                    <p>Algoz Pula e ataca, causando dano a inimigos próximos ao aterrissar.</p>
                </aside>
            </article>
            <article>
                <img src="./img/penny.jpeg" alt="">
                <aside class="overlay">
                    <img src="./img/penny-icon.png" alt="">
                    <p>Detonadora  Ao atingir o inimigo, o saco explode e as moedas atingem o inimigo mais próximo!</p>
                </aside>
            </article>
            <article>
                <img src="./img/piper.jpeg" alt="">
                <aside class="overlay">
                    <img src="./img/piper-icon.png" alt="">
                    <p>Tiro Preciso A força dos tiros aumenta à medida que ganha distância!</p>
                </aside>
            </article>
            <article>
                <img src="./img/squeak.jpeg" alt="">
                <aside class="overlay">
                    <img src="./img/squeak-icon.png" alt="">
                    <p>Controle As bolhas de gosma são instáveis e explodem fazendo um baita estrago!</p>
                </aside>
            </article>
            <article>
                <img src="./img/tick.jpeg" alt="">
                <aside class="overlay">
                    <img src="./img/tick-icon.png" alt="">
                    <p>Detonador As minas explodem em contato com um alvo ou depois de alguns segundos.</p>
                </aside>
            </article>
        </section>
    </main>
</body>
</html>