.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.question-panel {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 80%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.response-panel {
    width: 80%;
    background-color: #eee;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
.response-panel p{
    padding: 0 18px;
}
  
.active, .question-panel:hover {
    background-color: #ccc;
}

.question-panel:after {
    content: '\002B'; /* Adiciona o símbolo "+" após o texto do botão */
    color: #777; /* Cor do símbolo "+" */
    font-weight: bold; /* Define a fonte como negrito */
    float: right; /* Alinha o símbolo "+" à direita */
    margin-left: 5px; /* Adiciona margem à esquerda do símbolo "+" */
}

.active:after {
    content: "\2212"; /* Altera o símbolo "+" para "-" quando o botão está ativo (aberto) */
}