<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scroll Galeria</title>
    <link rel="stylesheet" href="./style.css">

</head>

<body>
    <div class="scroll-container">
        <img src="./src//images/beach.jpg" alt="Casas de campo">
        <img src="./src//images/maldives.jpg" alt="Castelo">
        <img src="./src//images/pyramids.jpg" alt="Praia Rio de Janeiro">
        <img src="./src//images/sunset.jpg" alt="Canal de Veneza">
    </div>
</body>

</html>