<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scroll Galeria</title>
    <link rel="stylesheet" href="./style.css">

</head>

<body>
    <div class="scroll-container">
        <img src="./img/image1.jpg" alt="Casas de campo">
        <img src="./img/image2.jpg" alt="Castelo">
        <img src="./img/image3.jpg" alt="Praia Rio de Janeiro">
        <img src="./img/image4.jpg" alt="Canal de Veneza">
    </div>
</body>

</html>