<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>avatar</title>
    <link rel="shortcut icon" href="src/img/avatar-1.svg" type="image/x-icon">
</head>
<body>
    <h1>Avatar Images</h1>
    <div class="avatar">
        <div class="avatar-1"><img src="src/img/avatar-1.svg" alt="avatar-1"></div>
        <div class="avatar-2"><img src="src/img/avatar-2.svg" alt="avatar-2" ></div>
        <div class="avatar-3"><img src="src/img/avatar-3.svg" alt="avatar-3" ></div>
        <div class="avatar-4"><img src="src/img/avatar-4.svg" alt="avatar-4" ></div>
        <div class="avatar-5"><img src="src/img/avatar-5.svg" alt="avatar-5" ></div>
        <div class="avatar-6"><img src="src/img/avatar-6.svg" alt="avatar-6" ></div>
        <div class="avatar-7"><img src="src/img/avatar-7.svg" alt="avatar-7"></div>
        <div class="avatar-8"><img src="src/img/avatar-8.svg" alt="avatar-8" ></div>
        <div class="avatar-9"><img src="src/img/avatar-9.svg" alt="avatar-9" ></div>
        <div class="avatar-10"><img src="src/img/avatar-10.svg" alt="avatar-10" ></div>
        <div class="avatar-11"><img src="src/img/avatar-11.svg" alt="avatar-11" ></div>
        <div class="avatar-12"><img src="src/img/avatar-12.svg" alt="avatar-12" ></div>
    </div>

</body>
</html>
