<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form On Image</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="bg-img">
        <form action="" class="container">
            <h1>Login</h1>

            <label for="email"><b>Email</b></label>
            <input type="text" placeholder="Enter Email"  name="Email" required>

            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="Password" required>
            
            <button type="submit" class="btn">Login</button>
        </form>

    </div>
</body>
</html>