html,body{
    height: 100%;
}

 * {
    box-sizing: border-box;
 }

.bg-img{
    background-image: url(/src/components/form-on-image/src/image/fundo.jpg);

    min-height: 380px;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.container {
    position: absolute;
    right: 0;
    margin: 20px;
    max-width: 300px;
    padding: 16px;
    background-color: white;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin:  5px 0 22px 0;
    border: none;
    background-color: #f1f1f1;        
}

input[type=text]:focus , input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

.btn{
    background-color: #04AA6d;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.btn:hover {
    opacity: 1;
}