body{
    align-items: center;
    text-align: center;
    padding: 100px;
}



.btn-minimalist {
    display: inline-block;
    
    padding: 1em 2em;
    border: 0.1em solid #000000;
    margin: 0 0.3em 0.3em 0;
    background-color: rgb(0, 0, 0, 0);
  
    box-sizing: border-box;
    
    text-decoration: none;
    font-family: "Petrona", serif;
    font-size: 20px;
    font-weight: 500;
  
    color: #000;
    text-align: center;
  
    transition: all 0.2s;
  }
  
  .btn-minimalist:hover {
    color: white;
    border: 0.1em solid white;
    background-color: #000;
  }