<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">

    <title>Modal Image</title>
</head>

<body>

    <img id="myImg" src="./img/img-lake.jpg" alt="Lake" style="width:100%;max-width:300px">

    <div id="myModal" class="modal">
        <span class="close">&times;</span>
        <img class="modal-content" id="img01">
        <div id="caption"></div>
    </div>


    <script src="./script.js"></script>
</body>

</html>