<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Switch</title>
    <link rel="stylesheet" href="style.css">
    <script src="script.js"></script>

</head>

<body>
    <span>
        <button onclick="status()" class="button-status">
            <img id='switch' src="img/button-status-offline.png"alt="Botão switch com status offline" width="160" height="90">
        </button>
        <div class="marker"></div>
    </span>
</body>

</html>