<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Divider</title>
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/gh/eliyantosarage/font-awesome-pro@main/fontawesome-pro-6.5.1-web/css/all.min.css" rel="stylesheet">
</head>

<body>
    <div class="container-textarea">
        <div class="profile">
            <img  src="https://images.unsplash.com/photo-1550525811-e5869dd03032?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
        </div>
        <div class="content-textarea" id="textareaContainer">
            <div class="wrapper-textarea">
                <textarea name="" placeholder="Add your comment..." id="" class="text" cols="30" rows="10"></textarea>
            </div>
            <div class="wrapper-button">
                <div class="emoji">
                    <i class="fa-solid fa-paperclip"></i>
                    <i class="fa-regular fa-face-smile"></i>
                </div>
                <button>Post</button>
            </div>
        </div>
    </div>
</body>

</html>