.divider{
    border: none;
    border-bottom: 2px solid gray;
    border-radius: 5px;
}
*{
    font-family: "Inter";
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-textarea{
    display: flex;
    gap: 10px;
}
.content-textarea{
    border: 2px solid #e5e7eb;
    border-radius: 8px;
    width: 576px;
    height: 100%;
}

textarea{
    outline: none;
    border-radius: 10px;
    height: 84px;
    border: none;
    resize: none;
    padding: 8px 8px;
}

.content-textarea:focus-within {
    border-color: #4F46E5; /* Mudança de cor da borda da div quando o textarea ou a div contendo o textarea está em foco */
}
.wrapper-button{
    display: flex;
    justify-content: space-between;
    padding: 8px 8px;
}
button{
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    border-radius: 8px;
    border: none;
    background-color: #4F46E5;
    padding: 8px 16px;
    cursor: pointer;
    transition: 0.3s;
}
.emoji{
    display: flex;
    gap: 10px;
    align-items: center;

}

i{
    cursor: pointer;
    color: #4F46E5;
    transition: 0.3s;
}
i:hover{
    color: #18145e;
}

button:hover{
    background-color: #18145e;
}

.profile img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    transition: 0.3s;
    border: #fff 1.5px solid;
}
.profile{
    background-color: #4F46E5;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}
.profile:hover{

    transform: scale(1.1);
}


@media screen and (max-width: 1024px) {

    .content-textarea {
        max-width: 400px;
        height: auto; /* Definindo altura automática para ajustar ao conteúdo */
    }
    textarea{
        width: 250px;
    }
}

@media screen and (max-width: 450px) {
    .container-textarea{
        flex-direction: column;
    }
    .content-textarea {
        max-width: 250px;
        height: auto; /* Definindo altura automática para ajustar ao conteúdo */
    }
    textarea{
        width: 200px;
    }
}


@media screen and (max-width: 300px) {
    .container-textarea{
        flex-direction: column;
    }
    .content-textarea {
        width: 100%;
        max-width: 200px;
        height: auto; /* Definindo altura automática para ajustar ao conteúdo */
    }
    textarea{
        width: 150px;
    }
}

