<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <link
        href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,1000&display=swap"
        rel="stylesheet">
    <link
        href="https://cdn.jsdelivr.net/gh/eliyantosarage/font-awesome-pro@main/fontawesome-pro-6.5.1-web/css/all.min.css"
        rel="stylesheet">
    <link rel="stylesheet" href="src/style/index.css">
    <link rel="stylesheet" href="src/style/global.css">

    <title>Document</title>
</head>

<body>
    
    <section class="precing-section">
        <div class="precing-wrapper">
            <div class="container-plan one">
                
                <div class="pricing-plan">
                    <div class="pricing-content">
                        <h2 class="plan-title">Freelancdr</h2>
                        <p class="plan-text">The essentials to provide your best work for clients.</p>
                        <p class="plan-price"><span class="strong">R$28,99</span>/month</p>
                        <div class="lists">
                            <p><span><i class="fa-solid fa-check"></i></span>5 products</p>
                            <p><span><i class="fa-solid fa-check"></i></span>Up to 1,000 subscribers</p>
                            <p><span><i class="fa-solid fa-check"></i></span>Basic analytics</p>
                            <p><span><i class="fa-solid fa-check"></i></span>48-hour support response time</p>
                        </div>
                    </div>
    
                    <div class="plan-btn strong">
                        <button>Buy plan</button>
                    </div>
            </div>
            </div>
            <div class="container-plan two">
                <div class="pricing-plan">
                    <div class="pricing-content">
                        <div class="plan-mostpopular">
                            <h2 class="plan-title">Startup</h2>
                            <p>Most popular</p>
                        </div>
                        <p class="plan-text">The essentials to provide your best work for clients.</p>
                        <p class="plan-price"><span>R$32,00</span>/month</p>
                        <div class="lists">
                            <p><span><i class="fa-solid fa-check"></i></span>5 products</p>
                            <p><span><i class="fa-solid fa-check"></i></span>Up to 1,000 subscribers</p>
                            <p><span><i class="fa-solid fa-check"></i></span>Basic analytics</p>
                            <p><span><i class="fa-solid fa-check"></i></span>48-hour support response time</p>
                            <p><span><i class="fa-solid fa-check"></i></span>48-hour support response time</p>
                        </div>
                    </div>
    
                    <div class="plan-btn">
                        <button class="bg strong">Buy plan</button>
                    </div>
                </div>
            </div>
            <div class="container-plan try">
                <div class="pricing-plan">
                    <div class="pricing-content">
                        <h2 class="plan-title">Enterprise</h2>
                        <p class="plan-text">Dedicated support and infrastructure for your compan.</p>
                        <p class="plan-price"><span>R$48,99</span>/month</p>
                        <div class="lists">
                            <p><span><i class="fa-solid fa-check"></i></span>5 products</p>
                            <p><span><i class="fa-solid fa-check"></i></span>Up to 1,000 subscribers</p>
                            <p><span><i class="fa-solid fa-check"></i></span>Basic analytics</p>
                            <p><span><i class="fa-solid fa-check"></i></span>48-hour support response time</p>
                            <p><span><i class="fa-solid fa-check"></i></span>48-hour support response time</p>
                            <p><span><i class="fa-solid fa-check"></i></span>48-hour support response time</p>
                        </div>
    
                    </div>
                    <div class="plan-btn strong">
                        <button>Buy plan</button>
                    </div>
                </div>
            </div>


        </div>
    </section>
</body>

</html>