f<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./src/style/avatarStyle.css" />
  </head>

  <body>
    <h1>Avatar Masculino/Feminino Pessoa Branca/Pessoa Negra</h1>

    <div class="listaIcons">
      <div class="moldura">
        <img
          class="iconHomen"
          src="./src/images/icons/icon-homen-branco.svg"
          alt="icon-homen-branco"
        />
        <p>Homen Branco</p>
      </div>

      <div class="moldura">
        <img
          class="iconHomen"
          src="./src/images/icons/icon-homen-negro.svg"
          alt="icon-homen-negro"
        />
        <p>Homen Negro</p>
      </div>

      <div class="moldura">
        <img
          class="iconMulher"
          src="./src/images/icons/icon-mulher-branca.svg"
          alt="icon-mulher-branca"
        />
        <p>Mulher Branca</p>
      </div>

      <div class="moldura">
        <img
          class="iconMulher"
          src="./src/images/icons/icon-mulher-negra.svg"
          alt="icon-mulher-negra"
        />
        <p>Mulher Negra</p>
      </div>
    </div>
  </body>
</html>
