<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./styles.css">
  <title>Infinite Carousel</title>
</head>
<body>

  <h1>Infinite Carousel in CSS</h1>
  
  <div class="brands-list">
    <div class="wrapper">
      <img src="../../assets/brands/corona-icon.svg" alt="logo corona">
      <img src="../../assets/brands/crocs-icon.svg" alt="logo crocs">
      <img src="../../assets/brands/css-icon.svg" alt="logo css">
      <img src="../../assets/brands/cupnoodle-icon.svg" alt="logo cupnoodle">
      <img src="../../assets/brands/discord-icon.svg" alt="logo discord">
      <img src="../../assets/brands/monster-icon.svg" alt="logo monster energetic">
      <img src="../../assets/brands/onlyfans-icon.svg" alt="logo only">
      <img src="../../assets/brands/policia-federal-Icon.svg" alt="logo policia federal">
    </div>
  </div>

</body>
</html>