<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./src/css/style.css">
    <link rel="icon" type="image/png" sizes="16x16" href="./src/img/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <title>Header - Componente</title>
</head>
<body>
    <header>
        <img src="./src/img/icon.png" alt="">
        <div class="menu">
            <p><a href="#">Docs</a></p>
            <p><a href="#">About</a></p>
            <button>Support us</button>
        </div>
    </header>

    <section>
        <h1>Navbar</h1>
        <p>Personalize essa navbar de acordo com a sua necessidade</p>
    </section>
</body>
</html>