<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perguntas  Frequentes</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
        <section class="container">

            <!-- Botão que funciona como cabeçalho do acordeão -->
            <button class="question-panel">Question 1</button>
            <!-- Divisão que contém o conteúdo do acordeão -->
            <div class="response-panel">
            <!-- Parágrafo com o texto que será mostrado quando a pergunta for clicada. -->
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book....</p>
            </div>

            <button class="question-panel">Question 2</button>
            <div class="response-panel">
                <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.</p>
            </div>

            <button class="question-panel">Question 3</button>
            <div class="response-panel">
                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
            </div>
            
        </section>

        <script src="script.js"></script>
</body>
</html>